<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include("partials/head")%>
    </head>
<body>
        <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Atras</a>
                <a class="navbar-brand" href="EditText">Documento</a>
                <a class="navbar-brand" href="EditCod">Codigo</a>
              </nav>
          <%practicas.forEach(function(practica) { %>
            <div class="card mx-auto" style="height: 90%; width:90%; margin-top: 30px; ">
                    <h5 class="card-header"><%= practica.titulo%></h5>
                    <div class="card-body">
                      <h5 class="card-title">Contenido</h5>
                      <p class="card-text"><%= practica.texto%></p>
                      <a href="#" class="btn btn-primary">Mostrar Practica</a>
                    </div>
                </div>
              
          <%})%>
                                
</body>
<%-include("partials/diseño")%>
</html>

